<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 리스트</title>
</head>
<body>

<h1>게시물 리스트</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <!-- Thymeleaf 반복문을 사용하여 게시물 리스트 동적으로 생성 -->
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td>
      <a th:href="@{'/board/list/' + ${board.id}}" th:text="${board.title}"></a>
    </td>
    <td th:text="${board.content}"></td>

  </tr>
  </tbody>
</table>
<button onclick="location.href='write'">글 작성</button>
</body>
</html>