<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세조회</title>
</head>
<body>

<!--상세 게시글-->
<div>
  <h2>게시물 상세조회</h2>
  <div>
    <h3 th:text="${board.title}"></h3>
    <p th:text="${board.content}"></p>
  </div>
</div>

<!--버튼 모음-->
<div>
  <!--첨부파일 다운로드 버튼-->
  <div th:if="${board.fileName!=null}">
  <th>첨부파일: </th>
    <a th:href="@{${board.filePath}}" th:text="${board.fileName}"></a>
  </div>

  <!--글 수정 버튼-->
  <button type="button" th:onclick="|location.href='@{/board/list/{id}/edit(id=${board.id})}'|">글 수정</button>

  <!--글 삭제 버튼-->
  <form th:action="@{/board/list/{id}/delete(id=${board.id})}" method="post">
    <button type="submit">글 삭제</button>
  </form>
</div>

<br>
<br>
<br>
<br>
<br>

<!--댓글 리스트-->
<h3>댓글 리스트</h3>
<div>
  <table border="1">
    <thead>
    <tr>
      <th>작성자</th>
      <th>댓글</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reply : ${replies}">
      <td th:text="${reply.writer}"></td>
      <td th:text="${reply.comment}"></td>
    </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>

<!-- 댓글 작성-->
<div>
  <h3>댓글 작성</h3>
  <form action="/board/reply" enctype="multipart/form-data" method="post">
    <!--    댓글 작성자 칸-->
    <label for="writer">작성자:</label>
    <input type="text" id="writer" name="writer" required>

    <!--    댓글 내용 입력 칸-->
    <label for="comment">내용:</label>
    <textarea id="comment" name="comment" required></textarea>

    <br>

    <button type="submit">작성</button>
  </form>
</div>


</body>
</html>